/* {
  border: 1px solid red !important;
} */

.gridCustom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.lineThrough {
  text-decoration: line-through;
  opacity: 0.6;
}

.listItem {
  background-color: var(--list-item-bg);
  transition: var(--transition-linear);

  &:hover {
    background-color: var(--list-item-hover-bg);
    transform: scale(1.03);
    transition: var(--transition-linear);
  }
}

.listItemChecked {
  background-color: var(--list-item-checked-bg);
}

.faCheckmarkCustom {
  transition: var(--transition-ease-in-out);

  &:active {
    transition: var(--transition-ease-in-out);
  }
}

.faCustomHover {
  transition: var(--transition-ease-in-out);

  &:hover {
    transform: scale(var(--scale-increase));
    transition: var(--transition-ease-in-out);
  }
}

.listItemControls {
  color: var(--light-mode-primary);
  background-color: var(--list-item-controls-bg);
}

.boxShadow {
  box-shadow: 5px 5px 3px var(--box-shadow);
}

@media (hover: none) {
  .listItem:hover {
    background-color: var(--list-item-bg);
    transform: inherit;
    transition: inherit;
  }

  .listItemChecked {
    background-color: var(--list-item-checked-bg);

    &:hover {
      background-color: var(--list-item-checked-bg);
    }
  }

  .faCheckmarkCustom {
    transition: var(--transition-ease-in-out);
  
    &:active {
      transform: scale(var(--scale-reset)) !important;
      transition: var(--transition-ease-in-out);
    }
  }

  .faCustomHover {
    transition: var(--transition-ease-in-out);
  
    &:hover {
      transform: scale(var(--scale-reset));
      transition: var(--transition-ease-in-out);
    }
  }
}