/* ! global CSS variables */

:root {
  /* light mode colors */
  --light-mode-primary: rgb(240, 240, 240);
  --light-mode-input: rgb(230, 230, 230);
  --light-mode-bg: rgb(210, 210, 210);
  --light-mode-text: rgb(35, 35, 35);
  /* colors */
  --list-item-bg: rgba(0, 128, 128, 0.5);
  --list-item-checked: rgba(0, 128, 128, 0.05);
  /* effects */
  --transition-custom: transition: all 0.1s ease-in-out;
}

/* ! Light mode classes */

.lightMode {
  background-color: var(--light-mode-bg);
  color: var(--light-mode-text);

  .lightModeButtonTextColor {
    color: var(--light-mode-primary);
  }

  .lightModeBorder {
    border: 1px solid var(--light-mode-text);
  }

  .lightModeBorderBottom {
    border-bottom: 1px solid var(--light-mode-text);
  }
}